
body {
  font-family: 'Roboto', Open sans, Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
blockquote{
  border-left: 5px solid #0d47a1 !important;
}

.welcome-img-container{
  min-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.first-parallax-container {
  height: 95vh !important;
  min-width: 95vw !important;
}

.other-parallax-container{
  height: 65vh !important;
}

.partners-logo{
  width: 60%;
  height: auto;
}

.navbar-absolute{
  position: absolute;
  z-index: 999;
}

.mask-black{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}

.header-title {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 50%;
  padding: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid;
  border-top: none;
}

.header-title h1,
.header-title h2 {
  letter-spacing: 0.05em;
}

.header-title h1 {
  font-size: 3.5em;
  text-transform: capitalize;
}

.header-title h2 {
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-style: oblique;
  font-size: 1.5em;
  overflow: hidden;
  margin: -30px -33px 0 -33px;
  position: absolute;
  width: calc( 100% + 6px);
}

.header-title h2:before,
.header-title h2:after {
  content: "";
  position: absolute;
  width: 100%;
  margin-top: -2px;
  border-top: 3px solid;
  top: 50%;
}

.header-title h2:before {
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  margin-left: -30px;
}

.header-title h2:after {
  margin-left: 30px;
}

.title h1 {
  padding: 20px;
}






.red {
  background-color: #F44336;
}

.pink {
  background-color: #E91E63;
}

.purple {
  background-color: #9C27B0;
}

.deep-purple {
  background-color: #673AB7;
}

.indigo {
  background-color: #2196F3;
}

.blue {
  background-color: #2196F3;
}

.light-blue {
  background-color: #03A9F4;
}

.cyan {
  background-color: #00BCD4;
}

.teal {
  background-color: #009688;
}

.green {
  background-color: #4CAF50;
}

.light-green {
  background-color: #8BC34A;
}

.lime {
  background-color: #CDDC39;
}

.yellow {
  background-color: #FFEB3B;
}

.amber {
  background-color: #FFC107;
}

.orange {
  background-color: #FF9800;
}

.deep-orange {
  background-color: #FF5722;
}

.brown {
  background-color: #795548;
}

.grey {
  background-color: #9E9E9E;
}

.blue-grey {
  background-color: #607D8B;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #FFFFFF;
}

.lgrey {
  background-color: #ececed;
}

.dgrey {
  background-color: #404042;
}

.txt-red {
  color: #F44336;
}

.txt-pink {
  color: #E91E63;
}

.txt-purple {
  color: #9C27B0;
}

.txt-deep-purple {
  color: #673AB7;
}

.txt-indigo {
  color: #2196F3;
}

.txt-blue {
  color: #2196F3;
}

.txt-light-blue {
  color: #03A9F4;
}

.txt-cyan {
  color: #00BCD4;
}

.txt-teal {
  color: #009688;
}

.txt-green {
  color: #4CAF50;
}

.txt-light-green {
  color: #8BC34A;
}

.txt-lime {
  color: #CDDC39;
}

.txt-yellow {
  color: #FFEB3B;
}

.txt-amber {
  color: #FFC107;
}

.txt-orange {
  color: #FF9800;
}

.txt-deep-orange {
  color: #FF5722;
}

.txt-brown {
  color: #795548;
}

.txt-grey {
  color: #9E9E9E;
}

.txt-blue-grey {
  color: #607D8B;
}

.txt-black {
  color: #000000;
}

.txt-white {
  color: #FFFFFF;
}

.txt-lgrey {
  color: #ececed;
}

.txt-dgrey {
  color: #404042;
}

.opacity-0-0 {
  opacity: 0;
}

.opacity-0-1 {
  opacity: 0.1;
}

.opacity-0-2 {
  opacity: 0.2;
}

.opacity-0-3 {
  opacity: 0.3;
}

.opacity-0-4 {
  opacity: 0.4;
}

.opacity-0-5 {
  opacity: 0.5;
}

.opacity-0-6 {
  opacity: 0.6;
}

.opacity-0-7 {
  opacity: 0.7;
}

.opacity-0-8 {
  opacity: 0.8;
}

.opacity-0-9 {
  opacity: 0.9;
}

.opacity-1-0 {
  opacity: 1;
}

.hover-opacity-0-0:hover {
  opacity: 0;
}

.hover-opacity-0-1:hover {
  opacity: 0.1;
}

.hover-opacity-0-2:hover {
  opacity: 0.2;
}

.hover-opacity-0-3:hover {
  opacity: 0.3;
}

.hover-opacity-0-4:hover {
  opacity: 0.4;
}

.hover-opacity-0-5:hover {
  opacity: 0.5;
}

.hover-opacity-0-6:hover {
  opacity: 0.6;
}

.hover-opacity-0-7:hover {
  opacity: 0.7;
}

.hover-opacity-0-8:hover {
  opacity: 0.8;
}

.hover-opacity-0-9:hover {
  opacity: 0.9;
}

.hover-opacity-1-0:hover {
  opacity: 1;
}







footer {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: row;
}

footer h3 {
  margin: 10%;
}


/* ICON SCROLL */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 5%;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  top: 8px;
  border-radius: 4px;
  margin-left: -4px;
  -webkit-animation: scroll infinite 1.5s;
  animation: scroll infinite 1.5s;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
/* END ICON SCROLL */



.navigation-bottom-border{
  border-bottom: 1px solid #fff;
}

.uppercase{
  text-transform: uppercase;
}

.padding-5{
  padding: 5px;
}

.ad_container{
  width: 100%;
}

.inline-block{
  display: inline-flex;
}

/*---- Login-Register ----*/
.login-register{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eeeeee;
  border-top: 50px solid #eeeeee;
  border-bottom: 50px solid #eeeeee;
}

.lr-title-line{
  margin-bottom: 20px;
}

.input-field input[type=date]:focus + label,
   .input-field input[type=text]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label {
     color: #e91e63;
   }

   .input-field input[type=date]:focus,
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus {
     border-bottom: 2px solid #e91e63;
     box-shadow: none;
   }

   .create-acc{
     margin-top: -30px;
   }
/*---- Login-Register end ----*/

/*---- Home page ----*/
.top-margin-10{
  margin-top: 100px;
  margin-left: 0px;
}

.parallax_overlay {
    height: auto;
}
.parallax_overlay img {
    width:100%;
    vertical-align:top;
    object-fit: cover;
}
.parallax_overlay:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    background:rgba(0,0,0,0.7);
    opacity:1;
}

/*---- Home page end ----*/

/*---- News page ----*/
.caption-news h4{
  display:inline-flex;
  background-color:rgba(0,0,0,0.7);
  padding: 10px;
  font-size: 180%;
}
.caption-news h6{
  display:inline-flex;
  background-color:rgba(0,0,0,0.7);
  padding: 10px;
  font-size: 150%;
}
.caption-link-news{
  display:inline;
  background-color:rgba(0,0,0,0.7);
  font-size: 1em;
  text-transform: uppercase;
  padding: 5px;
  color: #fff;
}

.card-image-news-container{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.card-image-news{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.card-title-color{
  color: #424242;
}

.card-content{
  margin-top: -20px;
}

.card-date-news{
  text-align: center;
  border: 0.1em solid #a9a9a9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
}
.divider-margin{
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-title{
  margin-bottom: 30px !important;
}

.featured-post-title{
  color: #ffffff !important;
}
/*---- News page end ----*/

/*---- Events page ----*/
#countdown{
  margin: 0 auto;
  font-size: 2em;
}

.events-main-card-title{
  margin-top: 10px;
}

/*---- Events page end ----*/



/*---- Post page ----*/
.postpage-bg-card{
  margin-top: 60px;
}

.postpage-main-image{
  width: 100%;
  height: auto;
}

.postpage-main-img-bg{
  margin-top: -50px;
}

.postpage-title{
  background-color: rgba(0,0,0,0.5);
  margin-left: 11.5px;
  margin-bottom: 10px !important;
  font-size: 1.2em !important;
  max-width: 70% !important;
}

.post-page-infobox{
  bottom: 0;
  right: 0;
  color: #9e9e9e;
  background-color: #eeeeee;
  padding: 10px;
  border-right: 3px solid #0288d1;
}

.post-page-infobox p{
  margin: 0 auto;
}

.postpage-card-content{
  color: #757575;
  border-right: 3px solid #0288d1;
  padding-right: 20px;
}

.postpage-card-content p{
    padding-top: 30px;
}

.postpage-ad{
  text-align: center;
  margin: 0 auto;
}

#containingDiv>p>img {
    width: 100% !important;
    height: auto !important;
}
#containingDiv>p>iframe {
    width: 100% !important;
    height: 20vw !important;
    min-height: 20px !important;
    float: right;
}
/*-- Sharing buttons --*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}
/*-- Sharing buttons end*/

/*-- Gallery --*/
.g-thumbnail {
  float: left;
  width: 150px;
}

/* The Modal (background) */
.g-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.g-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 50vw;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .g-modal-content {
    max-width: 100vw;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .g-modal-content {
    max-width: 100vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .g-modal-content {
    max-width: 65vw;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .g-modal-content {
    max-width: 55vw;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .g-modal-content {
    max-width: 55vw;
  }
}

/* The Close Button */
.g-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.g-close:hover,
.g-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.g-mySlides {
  display: none;
}

.g-cursor {
  cursor: pointer
}

/* Next & previous buttons */
.g-prev,
.g-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.g-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.g-prev:hover,
.g-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.g-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.g-img {
  margin-bottom: -10px;
}

.g-caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.g-demo {
  opacity: 0.6;
}

.g-active,
.g-demo:hover {
  opacity: 1;
}

img.g-hover-shadow {
  transition: 0.3s
}

.g-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/*-- Gallery end --*/

/*---- Post page end ----*/
